@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .smoke {
    transform-style: preserve-3d;
}

.container .smoke span {
    position: absolute;
    color: #fff;
    font-size: 1.35em;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.76em;
    text-shadow: 0 2px 5px;
    transform: translate(-50%, -50%);
}

.container .smoke span i {
    font-style: normal;
    color: #ec9535;
}